@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&family=Lato:wght@300;400;700&display=swap');

:root {
  --cor-primaria: #C97B63;
  --cor-fundo: #FAF7F4;
  --cor-bege: #F5EDE3;
  --cor-texto: #3D2B1F;
  --cor-texto-claro: #8B6F61;
  --cor-borda: #E8D5C8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}